*{  
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: gray;
}


.row{
    height: 100vh;
}

.form{
    height: 23rem;
    width: 40rem;
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    box-shadow: 10px 20px 10px rgb(119, 119, 119);

}

.col{
    display: flex;
    justify-content: center;
}

#nameMessage{
    /* display: none; */
    color: #f3f3f3;
}

#register a {
    text-decoration: none;
    font-size: .9rem;
}

#passMessage{
    display: none;
}