.reservaBox{
    height: 20vh;
    background-color: rgb(238, 238, 238);
}

.aceptar{
    
    font-size: 2rem;
    width: 3rem;
}

.rechazar{
    font-size: 2rem;
    width: 3rem;
}

.none{
    display: none;
}

.datos{
    font-size: 5px;
}

.infoArriendo{
    height: 25vh;
}