.reservaBox{
    height: 20vh;
    background-color: rgb(238, 238, 238);
}

.aceptar{
    
    font-size: 2rem;
    width: 4.1rem ; 
}

.rechazar{
    font-size: 2rem;
    width: 4.1rem ;
}

.none{
    display: none;
}

.datos{
    font-size: 1.3rem;
}

.infoArriendo{
    height: 25vh;
}

#canchaSlc{
    width: 100%;
}

#horaSlc{
    width: 100%;
}